{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

<style>
    .new-announcement-bar{
      border-bottom: 1px solid #d5d5d5;
    }
    .social-info-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
    }
    .social-info-bar .heading{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    /* Social media section */
    .social-media{
      display: flex;
      color: #000;
    }
    .social-media span {
      margin-right: 20px;
    }
    .social-media a {
     text-decoration: none;
     color: #000;
    }
    .social-info-bar svg{
      height: 20px;
      width: 20px;
      transform: translateY(20%);
    }
  .social-media-item:first-child{
    margin-right: 10px;
  }
    /* Info section */
    .info span {
      margin-left: 20px;
    }

    .info a {
      text-decoration: none;
      color: #000;
    }

    /* Icons */
    .fab,
    .fas {
      margin-right: 5px;
    }

    /* Responsive styles */
    @media (max-width: 768px) {
      .new-announcement-bar{
      display: none;
    }
      .social-info-bar {
        flex-direction: column;
        align-items: flex-start;
      }

      .social-media,
      .info {
        margin-bottom: 10px;
      }

      .info span {
        margin-left: 0;
      }
      .social-info-bar .heading{
      position: static;
      transform: translateX(0%);
    }
    }
</style>
<div id="new-announcement-bar" class="color-{{ section.settings.color_scheme }} gradient isolate new-announcement-bar">
  <div class="section-{{ section.id }}-padding page-width">
    <div class="social-info-bar">
      <div class="social-media">
        <div class="social-media-item">
          <a href="{{section.settings.fb_url}}">
             <!-- facebook svg -->
          {% render 'facebook.svg' %}
            {{ section.settings.fb_text -}}
          </a>
        </div>
        <div class="social-media-item">
          <a href="{{section.settings.insta_url}}">
              <!-- instagram svg -->
          {% render 'insta.svg' %}
            {{ section.settings.insta_text -}}
          </a>
        </div>
      </div>
      <div class="heading">
        <span>{{ section.settings.heading }}</span>
      </div>
      <div class="info">
        <a href="{{section.settings.store_link}}">
          <!-- maps svg -->
          {% render 'maps.svg' %}
          Find a Store</a
        >
        <div class="header__icons d-inline{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
          <div class="desktop-localization-wrapper"> 
              <localization-form class="small-hide medium-hide" data-prevent-hide>
                {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                    {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                  </div>
                {%- endform -%}
              </localization-form>
          </div>
        </div>
        <!--
          <span>USD <svg aria-hidden="true" focusable="false" class="icon icon-facebook" viewBox="0 0 20 20">
            <path fill="currentColor"
              d="M18 10.049C18 5.603 14.419 2 10 2c-4.419 0-8 3.603-8 8.049C2 14.067 4.925 17.396 8.75 18v-5.624H6.719v-2.328h2.03V8.275c0-2.017 1.195-3.132 3.023-3.132.874 0 1.79.158 1.79.158v1.98h-1.009c-.994 0-1.303.621-1.303 1.258v1.51h2.219l-.355 2.326H11.25V18c3.825-.604 6.75-3.933 6.75-7.951Z">
            </path>
          </svg></span>
        -->
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "New Announcement Bar",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Announcement",
"default": "Flash Sale 30%"
},
{
"type": "text",
"id": "fb_text",
"label": "Facebook Text",
"default": "100K Followers"
},
{
"type": "url",
"id": "fb_url",
"label": "Facebook Url"
},
{
"type": "text",
"id": "insta_text",
"label": "Instagram Text",
"default": "100K Followers"
},
{
"type": "url",
"id": "insta_url",
"label": "Instagram Url"
},
{
"type": "url",
"id": "store_link",
"label": "Store Url"
},
{
"type": "color_scheme",
"id": "color_scheme",
"label": "t:sections.all.colors.label",
"default": "scheme-1"
},
{
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 0
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 0
}
],
"presets": [
{
"name": "New Announcement Bar"

}
]
}
{% endschema %}
